<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center" *ngIf="clk">
  <h1>
    {{ title }}
  </h1>
  <a routerLink="/bulletin"  (click)="clk=false">
    <button mat-button color="primary">Start!</button>
  </a>
</div>
<router-outlet></router-outlet> -->


<!-- <div>
  <img src="assets/image/main_page.jpeg" class="bg"> 
  <div class="center">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    <img src="assets/image/logo.PNG" alt="DNE" width="500" 
       height="165" class="center">
    <button mat-button>Start!</button>
  </div>
</div> -->


  <mat-sidenav-container style="height:100%; width:100%">
      <mat-toolbar class="example-container"class="mat-toolbar">
          <mat-toolbar-row>
            <button mat-button class="menu-button" (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
            <button *ngIf="!loggedin()" mat-button class="menu-button">나눠먹기</button>
            <button *ngIf="!loggedin()" mat-button class="menu-button">같이 시키기</button>
            <div class="flex-spacer"></div>
            <button *ngIf="loggedin()" mat-button class="menu-button" routerLink="/login">
              <mat-icon>person</mat-icon>
              로그인
            </button>
            <button *ngIf="!loggedin()" mat-button class="menu-button" (click)="logout()">
              <mat-icon>person</mat-icon>
              로그아웃
            </button>
            <button mat-button class="menu-button" routerLink="/join">회원가입</button>
          </mat-toolbar-row>
      </mat-toolbar>
      

      <mat-sidenav #sidenav class="example-sidenav">
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
         <p>I am sidenav</p>
      </mat-sidenav>
      <div>
          <div class="container">
            <img class="bg" src="assets/image/food_img.PNG" routerLink="/">
            <div class="text-block">
              <h2><span>Time to Eat:<br />Divide & Eat</span></h2>
            </div>
          </div>
        
          <div class="router-container">
            <router-outlet></router-outlet>
          </div>
      </div>
   </mat-sidenav-container>
  





