.example-card {
    max-width: 200px;
    max-height: 30%;
    
}

div.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 200px;
  margin-top: 30px;
}
  
.example-header-image {
  background-size: cover;
}
  
  
img.resizeImg{
  width: 200px;
  height: 180px;
}

.flexcontainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-end;
}